{% extends 'base.html' %}
{% block title %}Thien Nguyen - About Me{% endblock %}
{% block header %}
    <h2>ABOUT ME</h2>
    <h1>Be honest with yourself</h1>
{% endblock %}
{% block content %}
        <section id="about">
            <h2>About Me</h2>
            <p>👋 I am Nguyen Duc Thien, a passionate lifelong learner with a strong foundation in technology and a desire to make a positive impact. 🌟 I was a gifted student during my school years and had the honor of achieving third prize 🏅 in the National Physics Competition for Excellent Students in 1991. This early milestone fueled my curiosity for science and technology, eventually leading me to join Hanoi University of Technology, where I graduated in the field of Telecommunications. 🎓</p>

            <p>Over the years, I have witnessed technology evolve at an incredible pace, and I have embraced these changes as opportunities for growth. 🚀 In my career, I have taken on leadership roles, such as NOC Manager and Service Improvement Manager at Ericsson Vietnam. My focus has been on improving operational performance, integrating automation, and leveraging emerging technologies like AI and ML. 🤖💡 I have hands-on experience with mobile technologies like 2G, 3G, and 4G, as well as programming in Python 🐍, which helps me bridge the gap between technical solutions and practical implementation.</p>

            <p>In addition, I hold a CISSP certification 🛡️ and possess in-depth knowledge of cybersecurity. 🔒 This expertise enables me to address complex security challenges and contribute to building resilient and secure systems. I also hold an MBA in Corporate Finance 📊, which I earned from Solvay Brussels School of Economics in 2012, equipping me with a solid understanding of financial management and strategic planning.</p>

            <p>Outside of work, I enjoy hiking ⛰️, reading 📚, and studying new technologies, which align with my love for exploration and learning. I believe in the importance of giving back to the community ❤️ and have taken small steps by providing free rides 🚗 to children with serious illnesses. I am always ready to join efforts that bring meaningful change to society. 🌍</p>

            <p>I value curiosity, resilience, and innovation 🌈, and I am motivated by the belief that technology, when used wisely, can improve lives. Looking ahead, I aim to continue growing both professionally and personally while contributing to my community in impactful ways. 💪✨</p>
        </section>
{% endblock %}
