{% extends 'base.html' %}
{% block title %}Thien Nguyen - Projects{% endblock %}
{% block content %}
    <div >
        <h1>Projects</h1>

        <div class="project">
            <h2>HT Mobile</h2>
            <p><strong>Deployment and Operation of HT CDMA Mobile Network</strong></p>
            <p><strong>Role:</strong> Shift Lead</p>
            <p><strong>Achievements:</strong> Successfully managed network operations</p>
            <p><strong>Duration:</strong> October 2006 to October 2008</p>
        </div>

        <div class="project">
            <h2>Vietnamobile</h2>
            <p><strong>Deployment and Operation of Vietnamobile Network</strong></p>
            <p>Vietnamobile is a GSM network with nearly 5 million subscribers and approximately 10,000 base stations utilizing a full stack of technologies.</p>
            <p><strong>Role:</strong> NOC Manager and Improvement Manager</p>
            <p><strong>Achievements:</strong> Successfully managed network operations</p>
            <p><strong>Duration:</strong> October 2008 to Present</p>
        </div>

        <div class="project">
            <h2>Telenor Myanmar</h2>
            <p><strong>Deployment of Telenor Mobile Network in Myanmar</strong></p>
            <p><strong>Role:</strong> Head of NOC</p>
            <p><strong>Achievements:</strong> Established NOC setup, including fit-out, recruitment, and development of tools and processes</p>
            <p><strong>Duration:</strong> May 2014 to December 2014</p>
        </div>
    </div>
{% endblock %}
