{% extends 'base.html' %}
{% block title %}Thien Nguyen - Skills{% endblock %}
{% block content %}
    <p>For more certifications, visit: <a href="https://www.credly.com/users/thien-nguyen.54a234e5" target="_blank">Thien Nguyen on Credly</a></p>
    <section id="education">
        <h2>Education</h2>
        <ul>
            <li>
                <strong>Bachelor of Telecommunications</strong><br>
                Hanoi University of Technology, Hanoi, Vietnam<br>
                Graduation Year: 1996
            </li>
            <li>
                <strong>MBA in Corporate Finance</strong><br>
                Solvay Brussels School of Economics, Hanoi, Vietnam<br>
                Graduation Year: 2012
            </li>
        </ul>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Operation & Performance Control</li>
            <li>Business and Finance Analysis</li>
            <li>Human Management</li>
            <li>Cybersecurity Specialist</li>
            <li>Automation & Digital Transformation</li>
            <li>Programming: Python</li>
            <li>Mobile Technologies: 2G/3G/4G</li>
            <li>Fluent in English</li>
        </ul>
    </section>

    <section id="certifications">
        <h2>Certifications</h2>
        <ul>
            <li>
                <strong>Applied Data Science Camp - Graduate 2024</strong><br>
                Ericsson<br>
                Issued: July 2024
            </li>
            <li>
                <strong>Enterprise Security – Level 3 Experienced</strong><br>
                Ericsson<br>
                Issued: December 2023
            </li>
            <li>
                <strong>Certified Information Systems Security Professional (CISSP)</strong><br>
                ISC2<br>
                Issued: October 2023<br>
                Expires: October 31, 2026
            </li>
            <li>
                <strong>Upskilling for an Inclusive Future Program 2024</strong><br>
                Ericsson<br>
                Issued: June 2023
            </li>
        </ul>
    </section>
{% endblock %}
